
#name{
    font-family: monospace;
}

.pictures {
    border-style: solid;
    border-width: 2px;
    border-color: BLUE; 
    padding:5px;
    /*
    padding-top: 5px ;
    padding-left:5px;
    padding-right:5px;
    padding-bottom:5px;
    */
}

.moviePosters {
    width : 250px;
    height: 250px;
    border-radius:  20px;
}


li {
    left:140px;
    font-size:15px;
    font-family:cursive; 
}

 #movie1:after{
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 10px 3px 0 10px;
    content: " ";
    background: url(https://images-na.ssl-images-amazon.com/images/M/MV5BMTMxNTMwODM0NF5BMl5BanBnXkFtZTcwODAyMTk2Mw@@._V1_SY1000_CR0,0,675,1000_AL_.jpg) no-repeat 0 0;
    background-size: 100%;
    }
    

 #movie2:after{
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 10px 3px 0 10px;
    content: " ";
    background: url(https://images-na.ssl-images-amazon.com/images/M/MV5BMTMxNTMwODM0NF5BMl5BanBnXkFtZTcwODAyMTk2Mw@@._V1_SY1000_CR0,0,675,1000_AL_.jpg) no-repeat 0 0;
    background-size: 100%;
    }
    
 #movie3:after{
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 10px 3px 0 10px;
    content: "             hjh ";
    background: url(https://images-na.ssl-images-amazon.com/images/M/MV5BMTMxNTMwODM0NF5BMl5BanBnXkFtZTcwODAyMTk2Mw@@._V1_SY1000_CR0,0,675,1000_AL_.jpg) no-repeat 0 0;
    background-size: 100%;
    }

    
